doctype
html
	head
			link(rel='stylesheet' href='/main.css')

			title TTT

			body
				div.container
					h1 ticatacatoe
					.status
					table#board
			a(href='/') Home



				script(src='/socket.io/socket.io.js')
				script(src='/main.js')
