doctype
html
	head
			link(rel='stylesheet' href='/main.css')

			title TTT

			body
				div
					h1 ticatacatoe
					a(href='/game/create') Start New Game
					div
					a(href='/game') Join a Game



