doctype
html
	head
			link(rel='stylesheet' href='/main.css')

			title TTT

			body

				h1 ticatacatoe
				.status
				table#board




				script(src='/socket.io/socket.io.js')
				script(src='/main.js')
